# The main project

__import libraries:__
below are all the libraries used in this project

In [1]:
%matplotlib inline 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

__Reading the file and its properties__

In [10]:
df = pd.read_csv('hotel_bookings.csv') 
print('shape is {}: '.format(df.shape))
print(df.dtypes)
print('\n')
df.sample(10)

shape is (119390, 32):
hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
88,Resort Hotel,0,12,2015,July,27,3,0,1,2,...,No Deposit,240.0,NaN,0,Transient,73.8,0,0,Check-Out,2015-07-04
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.5,0,0,Check-Out,2015-07-05
42856,City Hotel,0,168,2015,September,37,11,0,2,2,...,No Deposit,1.0,NaN,0,Transient-Party,60.0,0,0,Check-Out,2015-09-13
7452,Resort Hotel,1,155,2016,August,33,10,0,4,3,...,No Deposit,240.0,NaN,0,Transient,205.0,0,0,Canceled,2016-03-08
64680,City Hotel,1,6,2017,March,11,15,0,2,1,...,No Deposit,14.0,NaN,0,Transient,100.6,0,0,Canceled,2017-03-10
117535,City Hotel,0,70,2017,August,31,4,0,1,2,...,No Deposit,9.0,NaN,0,Transient,249.0,0,1,Check-Out,2017-08-05
57877,City Hotel,1,42,2016,October,41,2,2,1,2,...,No Deposit,9.0,NaN,0,Transient,113.4,0,0,Canceled,2016-09-08
77061,City Hotel,1,262,2015,November,46,9,1,2,2,...,Non Refund,1.0,NaN,0,Transient,62.8,0,0,Canceled,2015-09-04
41293,City Hotel,1,39,2015,August,33,14,0,2,2,...,No Deposit,6.0,NaN,0,Transient-Party,101.5,0,0,Canceled,2015-07-06
24051,Resort Hotel,0,0,2016,May,20,9,1,1,2,...,No Deposit,250.0,NaN,0,Transient,94.0,0,1,Check-Out,2016-05-11

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [12]:

df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

__there is something here__
there is a lot of thing here must to be considerd and remove such as the company and the agent which are something that we don't want and containg a lot of null values, and also i will compine the date of the first cople of cloumn and maKe it one with datetime data type

there is non value in only one column which is Footnote

i notice that there are a lot of not avaliable data in Compared to Nationam ,Denominator, Score, Lower Estimate and Higher Estimate, also the Footnote column alot of NaN data	
also i there are some connection between the not avaliable and the Footnote column when ever the is not avaliable data the will be Footnote value.

In [89]:
detectMissingVlaue = ~(df['Denominator'] == 'Not Available')
df = df[detectMissingVlaue]

In [90]:
df = df.drop('Footnote',axis=1)
df.shape

(54418, 17)

NOT APPLICABLE IS MIGHT NOT TO BE CHANGED
because it's change onlu one column but when we deleted that it's changes alot of things it's will become 49552 row

In [91]:
detectMissingVlaue = ~(df['Denominator'] == 'Not Applicable')
df = df[detectMissingVlaue]

In [92]:
df.sample(10)

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Start Date,End Date
79467,450730,BAYLOR SCOTT AND WHITE MEDICAL CENTER CARROLLTON,4343 NORTH JOSEY LANE,CARROLLTON,TX,75010,Denton,(972) 394-2255,PSI_06,Iatrogenic pneumothorax rate,No Different Than the National Rate,1895,0.22,0.03,0.4,07/01/2018,12/31/2019
34793,190106,OAKDALE COMMUNITY HOSPITAL,130 N HOSPITAL DR,OAKDALE,LA,71463,Allen,(318) 335-3700,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,27,10.5,6.9,15.6,07/01/2017,12/01/2019
66705,380082,PROVIDENCE MILWAUKIE HOSPITAL,10150 SE 32ND AVENUE,MILWAUKIE,OR,97222,Clackamas,(503) 513-8336,PSI_13,Postoperative sepsis rate,No Different Than the National Rate,106,6.00,2.63,9.36,07/01/2018,12/31/2019
39001,220171,"LAHEY HOSPITAL & MEDICAL CENTER, BURLINGTON",41 & 45 MALL ROAD,BURLINGTON,MA,1803,Middlesex,(781) 744-5100,PSI_11,Postoperative respiratory failure rate,No Different Than the National Rate,1474,5.95,3.22,8.67,07/01/2018,12/31/2019
66801,380103,KAISER FOUNDATION HOSPITAL - WESTSIDE,2875 NW STUCKI AVE,HILLSBORO,OR,97124,Washington,(971) 310-1000,PSI_14,Postoperative wound dehiscence rate,No Different Than the National Rate,33,0.86,0.13,1.58,07/01/2018,12/31/2019
53016,310054,HACKENSACKUMC MOUNTAINSIDE,1 BAY AVENUE,MONTCLAIR,NJ,7042,Essex,(973) 429-6314,MORT_30_STK,Death rate for stroke patients,No Different Than the National Rate,157,13.1,10.2,16.5,07/01/2017,12/01/2019
18168,110030,CARTERSVILLE MEDICAL CENTER,960 JOE FRANK HARRIS PARKWAY,CARTERSVILLE,GA,30120,Bartow,(770) 387-8182,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,279,9.1,6.8,12.2,07/01/2017,12/01/2019
38064,220012,CAPE COD HEALTHCARE,88 LEWIS BAY ROAD,HYANNIS,MA,2601,Barnstable,(508) 771-1800,PSI_03,Pressure ulcer rate,No Different Than the National Rate,10272,0.46,0,0.93,07/01/2018,12/31/2019
64892,370192,NORTHWEST SURGICAL HOSPITAL,9204 NORTH MAY AVENUE,OKLAHOMA CITY,OK,73120,Oklahoma,(405) 848-1918,PSI_03,Pressure ulcer rate,No Different Than the National Rate,29,0.59,0,1.96,07/01/2018,12/31/2019
42641,240207,FAIRVIEW RIDGES HOSPITAL,201 EAST NICOLLET BOULEVARD,BURNSVILLE,MN,55337,Dakota,(952) 892-2101,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,243,14.5,11.5,18.1,07/01/2017,12/01/2019

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49552 entries, 0 to 92184
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Facility ID           49552 non-null  object
 1   Facility Name         49552 non-null  object
 2   Address               49552 non-null  object
 3   City                  49552 non-null  object
 4   State                 49552 non-null  object
 5   ZIP Code              49552 non-null  int64
 6   County Name           49552 non-null  object
 7   Phone Number          49552 non-null  object
 8   Measure ID            49552 non-null  object
 9   Measure Name          49552 non-null  object
 10  Compared to National  49552 non-null  object
 11  Denominator           49552 non-null  object
 12  Score                 49552 non-null  object
 13  Lower Estimate        49552 non-null  object
 14  Higher Estimate       49552 non-null  object
 15  Start Date            49552 non-null  object
 16  End Date              49552 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.8+ MB

Changing Data types

In [94]:

df.Denominator = df.Denominator.astype(int)
df.Score = df.Score.astype(float)
df['Lower Estimate'] = df['Lower Estimate'].astype(float)
df['Higher Estimate'] = df['Higher Estimate'].astype(float)
df['End Date'] = pd.to_datetime(df['End Date'])
df['Start Date'] = pd.to_datetime(df['Start Date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49552 entries, 0 to 92184
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Facility ID           49552 non-null  object
 1   Facility Name         49552 non-null  object
 2   Address               49552 non-null  object
 3   City                  49552 non-null  object
 4   State                 49552 non-null  object
 5   ZIP Code              49552 non-null  int64
 6   County Name           49552 non-null  object
 7   Phone Number          49552 non-null  object
 8   Measure ID            49552 non-null  object
 9   Measure Name          49552 non-null  object
 10  Compared to National  49552 non-null  object
 11  Denominator           49552 non-null  int32
 12  Score                 49552 non-null  float64
 13  Lower Estimate        49552 non-null  float64
 14  Higher Estimate       49552 non-null  float64
 15  Start Date            49552 non-null  datetime64[ns]
 16  End Date              49552 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int32(1), int64(1), object(10)
memory usage: 6.6+ MB

In [97]:
df = df[~(df.duplicated())]
# there is not duplicated
df.shape

(49552, 17)

so now our data is clean